doctype html

mixin device-demo(imageName)
    .laptop-container
        div.laptop
            span.shadow
            span.lid
            span.camera
            span.screen
                img.demo(
                  data-lazygif="true",
                  data-desktop="true",
                  height=294, 
                  width=550,
                  src="/static/media/" + imageName + ".jpg")
            span.chassis
                span.keyboard
                span.trackpad

        div.phone
            span.shadow
            span.lid
            span.camera
            span.screen
                img.demo(
                  data-lazygif="true",
                  data-mobile="true",
                  height=294, 
                  width=161,
                  src="/static/media/" + imageName + "--mobile.jpg")

html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title Note Matcher
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="/static/css/marketing.css")
        script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-110452848-1")
        script
          | window.dataLayer = window.dataLayer || [];
          | function gtag(){dataLayer.push(arguments);}
          | gtag('js', new Date());
          | gtag('config', 'UA-110452848-1');
          | a=window.location.href.split('?')[1];
          | a=a&&a.split('&').reduce(function(b,c){
          |   if(c.split('=')[0]==='r'){
          |   return c.split('=')[1]
          |   }
          |   return b
          | }, null);
          | a&&gtag('set',{'user_id':a});


    body
        section.hero.is-fullheight.is-purple
            .hero-head
                nav(id="nav-placeholder", style="display:none;").navbar.is-transparent
                nav(id="nav").navbar.is-transparent
                    .navbar-brand
                        .navbar-item
                            img(src="/static/media/logo.svg", alt="NoteMatcher", style="width:150px;")
                    .navbar-item.is-right
                        .field
                          a(href="/app").button.is-white.is-outlined Try Now!

            .hero-body
                .container.has-text-centered
                     h1.title.is-spaced Visualize Your Voice In Real Time
                     h2.subtitle 
                       | NoteMatcher graphs the <strong>exact</strong> frequency of your voice
                       | onto the screen as you sing into your device's
                       | microphone. It has a built-in audio player to let you
                       | sing along and monitor your accuracy.
                     a(href="/app").button.is-light.is-medium
                       | Try Now For Free 

            .hero-foot
                div.tabs.is-centered.is-boxed.is-large
                    ul
                        li(id="teacherTab")
                          a For Teachers
                        li(id="singerTab")
                          a For Singers

        section.hero(id="who-its-for")
            .hero-body
                .container

                    .columns(id="teacherPane")
                        .column.content
                            h5.title.is-5 
                              | Show Instead Of Tell
                            p
                              | Help your students really see where their voice
                              | needs improvement.
                            p
                              | You don’t have to rely on trying to explain where
                              | they went off key and by how much. Show them 
                              | with precision.
                        .column 
                            h5.title.is-5
                              | Interactive Homework
                            p
                              | Using our intuitive MIDI editing tools, you can
                              | compose any desired note sequence and share it
                              | with your students.
                            p
                              | There are already generated scales as well for
                              | your convenience.
                        .column 
                            h5.title.is-5 Prevent Bad Habits
                            p
                              | Prevent the formation of bad habits when you are
                              | not around to coach your students.
                            p
                              | Instead of singing into the abyss, they will be
                              | given the power of instant feedback.

                    .columns(id="singerPane")
                        .column.content
                            h5.title.is-5 
                              | Perfect Your Melodies
                            p
                              | Use the audio editing tools to draw in any melody
                              | you want to perfect. 
                              | The MIDI playback enables you to sing along and 
                              | hone in on areas that need the most attention.
                        .column 
                            h5.title.is-5
                              | Discover Your Vocal Range
                            p
                              | Erase all of the MIDI notes and sing your heart
                              | out. You may be surprised at how good you sound
                              | and the notes that you can nail.
                        .column 
                            h5.title.is-5
                              | Pitch Matching
                            p 
                              | Use one of our built-in scales or a drawn-in
                              | note sequence you can practice note matching.
                            p
                              | Try and keep your voice as steady as possible. 
                              | The more your notes fall within the green area
                              | the better.
                              | Make sure to keep an eye on how
                              | fast you hit the note!

        section.hero.is-dark
            .hero-body
                .container.has-text-centered
                    h1.title How It Works

        section.hero.is-yellow.is-fullheight
            .hero-body
                .container.has-text-centered
                     h1.title.is-spaced
                       | Use the Music Editor to Compose Note Sequences.
                     h2.subtitle 
                       | The core of this application is pitch matching based
                       | singing practice. We want to make it as easy as possible
                       | to practice singing along to any note sequence
                       | imaginable.
                     h2.subtitle 
                       | To do this we provide a simple drag based editor. Using
                       | the Pencil tool, you can resize notes, drag them through
                       | time, and draw in new notes. The Eraser tool is there to
                       | let you clear out unwanted ones.
                     +device-demo("second-demo")

        section.hero.is-blue.is-fullheight
            .hero-body
                .container.has-text-centered
                     h1.title.is-spaced
                       | Hit Record and Start Belting
                     h2.subtitle 
                       | You will notice colorful dots being drawn on the screen.
                       | That is your voice! 
                     h2.subtitle 
                       | Try your hardest to keep the dots within the green
                       | center of a note. If they are in the green then you are
                       | nailing it. The yellow means you’re a bit off and the
                       | red means you are way off. Try to keep your voice steady
                       | and stay on the green for the entire duration. It’s
                       | harder then it looks!
                     +device-demo("first-demo")

        script(src="/static/js/marketing.js")




